.page {
  > section {
    > form {
      
      li {
        margin-bottom: 1em;
      }
      
      label,input,textarea,button {
        transition: all $speed;
      }
      
      label {
        display: block;
        @extend %sans;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        position: relative;
        line-height: 1em;
        margin-bottom: 5px;
        color: lighten($secondary,10);
      }
      
      input,textarea {
        width: 100%;
        max-width: 1100px;
        background-color: lighten($primary,20);
        color: $dark;
        font-size: 1.8rem;
        display: block;
        padding: 5px 10px;
        border-radius: 2px;
        @extend %serif;
      }
      
      textarea { height: 8em; }
      
      button {
        background: $accent;
        @extend %sans;
        font-weight: 700;
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $white;
        padding: 1em 2em;
        &:hover {
          background: lighten($accent,20);
        }
      }
      
      @media screen and (min-width: 1150px) {
        label,button { font-size: 1.8rem; }
        input,textarea { font-size: 2.4rem; }
      }
      
    }
  }
}