* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-weight: 300; }

ul, ol {
  list-style: none; }

html {
  font-size: 62.5%; }

body {
  font-size: 1em; }

a {
  text-decoration: none;
  transition: all 0.25s; }

body {
  font-family: 'Cormorant Garamond', serif; }

/* CSS Document */
