@font-face {
  font-family: 'rw';
  src:  url('fonts/rw.eot?q874ja');
  src:  url('fonts/rw.eot?q874ja#iefix') format('embedded-opentype'),
    url('fonts/rw.ttf?q874ja') format('truetype'),
    url('fonts/rw.woff?q874ja') format('woff'),
    url('fonts/rw.svg?q874ja#rw') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'rw' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-location2:before {
  content: "\e947";
}
.icon-location:before {
  content: "\e948";
}
.icon-angle-double-left2:before {
  content: "\f100";
}
.icon-angle-double-right2:before {
  content: "\f101";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-pinterest:before {
  content: "\f0d2";
}
.icon-google-plus:before {
  content: "\f0d5";
}

